.register-screen {
  background: white;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  place-items: center;
  margin-bottom: 50px;
}

.register-screen > form fieldset{
  border-style: none;
}
  
/* ---------- REGISTER ---------- */
  
form fieldset input[type="text"], input[type="email"], input[type="password"] {
  appearance: none;
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  width: 280px;
}
  
form fieldset input[type="submit"] {
  appearance: none;
  background-color: #008dde;
  border: none;
  border-radius: 3px;
  color: #f4f4f4;
  cursor: pointer;
  font-family: inherit;
  height: 50px;
  text-transform: uppercase;
  width: 300px;
}

form fieldset a {
    color: red;
    font-size: 12px;
}

form fieldset p{
  display: flex;
  justify-content: space-between;
}

form fieldset a:hover { text-decoration: underline; }
  
.error-message{
  color: red;
}